html, body {
    margin: 0;
}

header, footer {
    min-height: 10vh;
}


main {
    background-color: deepskyblue;
    background-image: url(technology-8280863_1920.jpg);
    min-height: 80vh;
    background-size: cover;
}