html, body {
    margin: 0;
    font-family: 'Quicksand-variable';
}

header, footer {
    min-height: 10vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

li {
    margin: 0 1rem;
}

main {
    background-color: deepskyblue;
    background-image: url(img/technology-8280863_1920.jpg);
    min-height: 80vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

article h1 {
    color: white;
}

article {
    background-color: #088affd6;
    border-radius: 124.5rem;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    aspect-ratio: 1;
    align-items: center;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: 'Quicksand-variable';
    src: url(fonts/Quicksand-VariableFont_wght.ttf) format('truetype');
}

/* Mobile styles */

@media (max-width: 565px){
    header, ul {
            display: block;
            text-align: center;
            margin: 1rem;
        }

        article {
            border-radius: 0;
        }
}

/* Button */

.btn-87,
.btn-87 *,
.btn-87 :after,
.btn-87 :before,
.btn-87:after,
.btn-87:before {
    border: 0 solid;
    box-sizing: border-box;
}

.btn-87 {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: #000;
    background-image: none;
    color: #fff;
    cursor: pointer;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 17px;
    line-height: 1.5;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    padding: 0;
}

.btn-87:disabled {
    cursor: default;
}

.btn-87:-moz-focusring {
    outline: auto;
}

.btn-87 svg {
    display: block;
    vertical-align: middle;
}

.btn-87 [hidden] {
    display: none;
}

.btn-87 {
    background: none;
    border-radius: 999px;
    box-sizing: border-box;
    display: grid;
    place-items: center;
    font-size: 17px;
    font-weight: 900;
    height: 110px;
    position: relative;
    text-transform: uppercase;
    width: 110px;
}

.btn-87 span {
    mix-blend-mode: difference;
}

.btn-87:before {
    background: #fff;
    border-radius: 50%;
    content: "";
    inset: 0;
    opacity: 0;
    position: absolute;
    transition: opacity 0.2s linear;
    z-index: -1;
}

.btn-87:hover:before {
    opacity: 1;
    transition: opacity 0.2s linear 1s;
}

.btn-87 svg {
    fill: none;
    stroke: currentcolor;
    stroke-width: 4px;
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    height: 105%;
    left: -5px;
    pointer-events: none;
    position: absolute;
    top: -5px;
    transition: stroke-dashoffset 0.4s ease-in-out;
    width: 105%;
}

.btn-87 circle {
    cx: 52%;
    cy: 52%;
    r: 45%;
}

.btn-87:hover svg {
    stroke-dashoffset: 120;
    transition: stroke-dashoffset 1s ease-in-out;
}

/* Custom modification for the button */

svg.blackbg {
    fill: #000;
    z-index: -2;
}
